<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta property="og:title" content="Diabetes Prediction Webite"/>
    <meta property="og:url" content="https://diabetes-pred-98acd371720f.herokuapp.com"/>
    <meta name="og:description" content="Predict diabetes easily" />

    <title>Diabetes Prediction</title>
    <meta name="theme-color" content="white">
    <!-- Import Google Font-->
    <link rel="preconnect" href="static/css/fonts.googleapis.com/index.html">
    <link href="static/css/fonts.googleapis.com/css23585.css?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="author" content="Diabetes Prediction">
    <meta name="description" content="Using machine learning algorithms to predict diabetes. Model used include Logistic Regression, XGBoost, KNN and SVM." />
  
    <meta property="og:title" content="Diabetes Prediction using Machine Learning" />
    <meta property="og:description" content="Using machine learning algorithms to predict diabetes. Model used include Logistic Regression, XGBoost, KNN and SVM." />
    <meta property="og:image" content="{{ url_for('static', filename='img/diabetes_patient.jpg') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/diabetes_patient.jpg') }}">

  </head>
  <!-- Body-->
  <body>

    <!-- Page wrapper-->
    <main class="page-wrapper">

      <!-- Page content-->

      <section class="jarallax min-vh-100 py-lg-3 py-xl-4 py-xxl-5" data-jarallax data-speed="0.65">
        <div class="jarallax-img" style="background-image: url(static/img/diabetes_patient.jpg?w=1155&h=2268);"></div>
        <div class="container-fluid position-relative zindex-2 py-5 my-md-3 my-lg-5">
          <div class="row pb-3 pt-4 pt-sm-5">
            <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-6 offset-lg-3 pt-" >
              <div class="card dark-mode border-0 rounded-1 py-2 py-sm-3 py-md-4">
                <div class="card-body">
                  <div class="mx-auto pt-2" style="max-width: 700px;">
                    <h1 class="display-5 mb-4 text-black">Diabetes Prediction</h1>
                    <p class="fs-5 pb-4 pb-lg-5 mb-2 text-black">
                      The Model used in development of this project has an accuracy of 95.97% and a precision of 77.28%.
                      <br>
                      <br>
                      This model provides predictions for educational purposes only. Please, consult a healthcare professional for medical concerns and decisions.
                    </p>
                    <div class="d-flex flex-column flex-sm-row align-items-center pb-lg-2">
                      <a class="btn btn-lg btn-primary w-100 w-sm-auto me-sm-3 mb-3 mb-sm-0" href="{{ url_for('predict_diabetes') }}"  style="background-color: rgb(15, 86, 86) !important;">
                        Get the Test
                      </a>
                    </div>
                    <ul class="list-unstyled d-sm-flex mb-0 pt-4 pt-sm-5 mt-lg-2 mt-xl-4" style="display: none !important;">
                      <li class="d-flex mb-2 mb-sm-0 pe-sm-1 me-sm-3"><i class="ai-check-alt text-white fs-4 mt-n1 me-2"></i>Full spectrum of services</li>
                      <li class="d-flex"><i class="ai-check-alt text-white fs-4 mt-n1 me-2"></i>Flexible work terms</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





       <!-- Services-->
       <section class="container py-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
        <div class="row align-items-center py-1 py-sm-3 py-md-4 my-lg-2">
          <h1 class="h1 text-center pb-5">
            How to Prevent Diabetes
          </h1>
         
          <div class="col-lg-12 col-xl-12 col-xxl-12 col-12">
            <div class="row ">
              <div class="col-md-6 col-lg-4">
                <div class="card border-0 bg-faded-primary">
                  <div class="card-body"><i class="ai-search-settings fs-1 text-primary d-block mb-3"></i>
                    <h3 class="h4">Maintain a Healthy Weight</h3>
                    <p class="fs-lg text-black" style="font-weight: 500;">
                      Keeping your weight within a healthy range can reduce your risk of diabetes. Aim for a balanced diet and regular exercise to achieve and maintain a healthy weight.
                    </p>
                  </div>
                </div>
               
              </div>
              <div class="col-md-6 col-lg-4 pt-lg-3">
                
                <div class="card border-0 bg-faded-danger mt-4">
                  <div class="card-body"><i class="ai-telegram fs-2 text-danger d-block mb-3"></i>
                    <h3 class="h4">
                      Monitor Your Blood Sugar Levels
                    </h3>
                    <p class="fs-lg text-black" style="font-weight: 500;">
                      If you have risk factors for diabetes, regular monitoring of your blood sugar levels can help you stay on top of your health and catch any early signs of diabetes.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="card border-0 bg-faded-info mt-4">
                  <div class="card-body"><i class="ai-bulb-alt fs-1 text-info d-block mb-3"></i>
                    <h3 class="h4">
                      Get Regular Check-ups
                    </h3>
                    <p class="fs-lg text-black" style="font-weight: 500;">
                      Regular health check-ups can help detect any early signs of diabetes. Your healthcare provider can provide personalized advice on how to prevent diabetes based on your health status and risk factors.
                    </p>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- Show button on screens < 992px-->
            <div class="text-center pt-3 mt-3 mt-sm-4 h6 "><a class="btn btn-primary text-white" href="{{ url_for('predict_diabetes') }}">Get the Test</a></div>
          </div>
        </div>
      </section>

    </main>

 

  </body>
</html>