<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Diabetes Prediction Using Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="author" content="Diabetes Prediction">
	<meta name="description" content="Using machine learning algorithms to predict diabetes. Model used include Logistic Regression, XGBoost, KNN and SVM." />

	<meta property="og:title" content="Diabetes Prediction using Machine Learning" />
	<meta property="og:description" content="Using machine learning algorithms to predict diabetes. Model used include Logistic Regression, XGBoost, KNN and SVM." />
  <meta property="og:image" content="{{ url_for('static', filename='img/diabetes_patient.jpg') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/diabetes_patient.jpg') }}">

  
</head>
<body class="nk-body" data-navbar-collapse="xl">

    <div class="nk-app-root home-bs-consulting">
        <main class="nk-pages">
            <section class="nk-banner is-theme nk-banner-bs-consulting bg-gray-200">
                <div class="nk-banner-wrap">
                    <div class="container">
                        <div class="nk-banner-content">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-xxl-9">
                                    <div>
                                        <div>
                                            <h1 class="display-6 text-capitalize mb-md-4" data-aos="fade-up" data-aos-delay="0">
                                                Diabetes Prediction
                                            </h1>
                                            <p class="nk-section-text opacity-75" data-aos="fade-up" data-aos-delay="50">
                                                The Model used in development of this project has an accuracy of 95.97% and a precision of 77.28%.
                                            </p>
                                            <br>
                                            <p class="nk-section-text opacity-75" data-aos="fade-up" data-aos-delay="50">
                                                This model provides predictions for educational purposes only. Please, consult a healthcare professional for medical concerns and decisions.
                                            </p>
                                        </div>
                                        <ul class="nk-btn-group pt-5 pt-lg-7" data-aos="fade-up" data-aos-delay="100">
                                            <li>
                                                <a href="{{ url_for('predict_diabetes') }}" class="btn btn-primary">Get the test</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-complishment py-7 py-xl-0">
                <div class="container">
                    <div class="nk-section-content">
                        <div class="row gy-5 gy-md-7 gy-xl-0">
                            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
                                <div class="text-center">
                                    <p class="h1 mb-4 d-flex align-items-center justify-content-center">
                                        95.97 <span class="text-primary">%</span>
                                    </p>
                                    <div>
                                        <h5>Accuracy</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="50">
                                <div class="text-center">
                                    <p class="h1 mb-4 d-flex align-items-center justify-content-center">
                                        75.82<span class="text-primary">%</span>
                                    </p>
                                    <div>
                                        <h5>F1 Score</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="text-center">
                                    <p class="h1 mb-4 d-flex align-items-center justify-content-center"> 74.41 <span class="text-primary">%</span>
                                    </p>
                                    <div>
                                        <h5>Recall</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="150">
                                <div class="text-center">
                                    <p class="h1 mb-4 d-flex align-items-center justify-content-center"> 77.28 <span class="text-primary">%</span>
                                    </p>
                                    <div>
                                        <h5>Precision</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="nk-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center">
                                <span class="nk-section-subtitle">Our Solutions</span>
                                <h2>The Solutions We Offer</h2>
                                <p class="nk-section-text"> Our comprehensive range of solutions encompasses various domains, providing effective resolutions. </p>
                                <ul class="nk-btn-group justify-content-center pt-5">
                                    <li>
                                        <a href="#" class="btn btn-primary">Browse All</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5 gy-xl-0">
                        
                        <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="card shadow-xl">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-5">
                                        <em class="icon ni ni-puzzle-fill"></em>
                                    </div>
                                    <div class="mb-5">
                                        <h4>Maintain a Healthy Weight</h4>
                                        <p class="fs-16 text-gray-800 ">
                                            Keeping your weight within a healthy range can reduce your risk of diabetes. Aim for a balanced diet and regular exercise to achieve and maintain a healthy weight.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="card shadow-xl">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-5">
                                        <em class="icon ni ni-puzzle-fill"></em>
                                    </div>
                                    <div class="mb-5">
                                        <h4>Monitor Your Blood Sugar</h4>
                                        <p class="fs-16 text-gray-800 ">
                                            If you have risk factors for diabetes, regular monitoring of your blood sugar levels can help you stay on top of your health and catch any early signs of diabetes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
                            <div class="card shadow-xl">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-5">
                                        <em class="icon ni ni-puzzle-fill"></em>
                                    </div>
                                    <div class="mb-5">
                                        <h4>Get Regular Check-ups</h4>
                                        <p class="fs-16 text-gray-800 ">
                                            Regular health check-ups can help detect any early signs of diabetes. Your healthcare provider can provide personalized advice on how to prevent diabetes based on your health status and risk factors.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-cta pb-7 pb-lg-120">
                <div class="container">
                    <div class="nk-section-content bg-primary p-5 p-md-7 py-lg-80 text-left overflow-hidden rounded-4 bg-3">
                        <div class="row justify-content-center">
                            <div class="col-xl-11">
                                <div>
                                    <div class="nk-section-head pb-0">
                                        <h2 class="nk-section-title text-white" data-aos="fade-up" data-aos-delay="0">Need help?</h2>
                                        <p class="nk-section-text text-white " data-aos="fade-up" data-aos-delay="50">
                                            The Diabetes Association of Nigeria (DAN) supports diabetes awareness, education, and early diagnosis across Nigeria.
                                            <br>
                                            <br>
                                            It hosts workshops, screenings, and advocacy campaigns, collaborating with healthcare providers to improve diabetes care and reduce complications.
                                        </p>
                                        <div class="pt-5 pt-lg-40" data-aos="fade-up" data-aos-delay="100">
                                            <a href="https://idf.org/our-network/regions-and-members/africa/members/nigeria/diabetes-association-of-nigeria/" class="btn btn-white text-primary fw-semibold">CONTACT US</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="nk-footer is-theme">
            <div class="nk-footer-top">
                <div class="container">
                    <div class="nk-footer-content pt-7">
                        <div class="row text-center text-xl-start justify-content-center justify-content-md-between">
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-footer-brand">
                                    <div class="nk-footer-brand-info">
                                        <div class="nk-footer-logo mb-5 mb-md-0 text-white">
                                            Diabetes Prediction
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-footer-brand">
                                    <div class="nk-footer-brand-info">
                                        <div class="nk-footer-logo mb-5 mb-md-0 text-white">
                                            &copy; <span id="currentYear"> </span>
                                    All Rights Reserved.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- <script src="assets/js/bundle2888.js?v1.0.0"></script>
    <script src="assets/js/scripts2888.js?v1.0.0"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>


</body>
</html>